@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div class="col-lg-12" data-bind="foreach: graphs" >
        <graph class="col-lg-4"></graph>
    </div>

</div>

@section scripts
{    
    <script data-main="../Scripts/require.configure.js" src="~/Scripts/require.js"></script>
   

    <script src="~/Scripts/jquery.flot.min.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script src="~/app/graphcomponent.js"></script>
    <script src="~/app/stockticker.js"></script>
}